<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_borrowDate">Borrow Date</label>
                    <div class="input-group">
                        <input id="field_borrowDate" type="text" class="form-control" name="borrowDate" ngbDatepicker #borrowDateDp="ngbDatepicker" formControlName="borrowDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="borrowDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_returnDate">Return Date</label>
                    <div class="input-group">
                        <input id="field_returnDate" type="text" class="form-control" name="returnDate" ngbDatepicker #returnDateDp="ngbDatepicker" formControlName="returnDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="returnDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_book">Book</label>
                    <select class="form-control" id="field_book" name="book" formControlName="book">
                        <option [ngValue]="null"></option>
                        
                        <option  [ngValue]="bookOption.id === editForm.get('book')!.value?.id ? editForm.get('book')!.value : bookOption" *ngFor="let bookOption of books; trackBy: trackById">
                            {{ bookOption.name }} , {{bookOption.status}}  </option> 
                         </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.email }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
