<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span>Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Isbn</span></dt>
                <dd>
                    <span>{{ book.isbn }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ book.name }}</span>
                </dd>
                <dt><span>Publish Year</span></dt>
                <dd>
                    <span>{{ book.publishYear }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ book.status }}</span>
                </dd>
                <dt><span>Publisher</span></dt>
                <dd>
                    <div *ngIf="book.publisher">
                        <a [routerLink]="['/publisher', book.publisher?.id, 'view']">{{ book.publisher?.name }}</a>
                    </div>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span *ngFor="let author of book.authors; let last = last">
                        <a [routerLink]="['/author', author?.id, 'view']">{{ author.firstName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
